{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
	<div class="container mt-3">
		<div class="jumbotron">
			<h1 class="display-3">Bienvenue</h1>
			<p class="lead">Mise en relation entre voyageurs et propriétaires.</p>
			<hr class="my-4">
			<p>Logez vous lors de vos déplacements.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">Voir nos annonces</a>
			</p>
		</div>

		<div class="row">
			<h2>Nos appartements stars</h2>
		</div>

		<div class="row justify-content-center align-items-center">
			
			{% for ad in ads %}
				<div class="col d-flex justify-content-center align-items-center">
					<div class="card m-3" style="width: 18rem;">
						<div class="card-header">
							{{ad.rooms}} chambres {{ad.price}}€ par nuit<br/>
							{% include "partials/ratingStar.html.twig" with {'avgRatings': ad.getAvgRatings} %}
						</div>
						<img src="{{ad.coverImage}}" class="card-img-top" alt="...">
						<div class="card-body text-center">
							<h5 class="card-title">{{ad.title}}</h5>
							<p class="card-text">{{ad.introduction}}</p>
							<a href="{{path('ad_show', {'slug': ad.slug})}}" class="btn btn-primary">Voir l'annonce</a>
						</div>
					</div>
				</div>	
			{% endfor %}
			
			

			<div class="col d-flex justify-content-center align-items-center">
				<div class="card m-3" style="width: 18rem;">
					<div class="card-header">
						2 chambres 50€ par nuit<br/>
						<p>Pas encore noté</p>
					</div>
					<img src="https://picsum.photos/seed/150/150" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Bel appartment</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla alias nihil impedit dicta illum similique dolores pariatur, magnam quis minus. Nisi blanditiis commodi, deleniti minima eum repudiandae nobis maiores.</p>
						<a href="#" class="btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>

			<div class="col d-flex justify-content-center align-items-center">
				<div class="card m-3" style="width: 18rem;">
					<div class="card-header">
						2 chambres 50€ par nuit<br/>
						<p>Pas encore noté</p>
					</div>
					<img src="https://picsum.photos/seed/150/150" class="card-img-top" alt="...">
					<div class="card-body text-center">
						<h5 class="card-title">Bel appartment</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla alias nihil impedit dicta illum similique dolores pariatur, magnam quis minus. Nisi blanditiis commodi, deleniti minima eum repudiandae nobis maiores.</p>
						<a href="#" class="btn btn-primary">Voir l'annonce</a>
					</div>
				</div>
			</div>	
		</div>


		<div class="row mt-5">
			<h2>Nos propriétaires stars</h2>
		</div>

		<div class="row mb-4">
			<div class="col d-flex justify-content-center align-items-center">
				<div class="card m-3" style="width: 18rem;">
					<div class="card-header">
						Nom prénom
					</div>
					<div class="card-body text-center">
						<img src="https://picsum.photos/seed/50/50" class="float-left" alt="...">
						<h5 class="card-title">Bel appartment</h5>
						<p class="card-text text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla alias nihil impedit dicta illum similique dolores pariatur, magnam quis minus. Nisi blanditiis commodi, deleniti minima eum repudiandae nobis maiores.</p>
						<a href="#" class="btn btn-primary">Voir ses annonces</a>
					</div>
				</div>
			</div>

			<div class="col d-flex justify-content-center align-items-center">
				<div class="card m-3" style="width: 18rem;">
					<div class="card-header">
						Nom prénom
					</div>
					<div class="card-body text-center">
						<img src="https://picsum.photos/seed/50/50" class="float-left" alt="...">
						<h5 class="card-title">Bel appartment</h5>
						<p class="card-text text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nulla alias nihil impedit dicta illum similique dolores pariatur, magnam quis minus. Nisi blanditiis commodi, deleniti minima eum repudiandae nobis maiores.</p>
						<a href="#" class="btn btn-primary">Voir ses annonces</a>
					</div>
				</div>
			</div>

			
		</div>


	</div>


{% endblock %}
