{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
	<div class="container mt-3">
		<div class="jumbotron">
			<h1 class="display-3">Bienvenue</h1>
			<p class="lead">Mise en relation entre voyageurs et propriétaires.</p>
			<hr class="my-4">
			<p>Logez vous lors de vos déplacements.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{{path('ads_index')}}" role="button">Voir nos annonces</a>
			</p>
		</div>

		<div class="row">
			<h2>Nos appartements stars</h2>
		</div>

		<div class="row justify-content-center align-items-center">
			{% for ad in ads %}
				<div class="col d-flex justify-content-center align-items-center">
					<div class="card m-3" style="width: 18rem;">
						<div class="card-header">
							{{ad.rooms}} chambres {{ad.price}}€ par nuit<br/>
							{% include "partials/ratingStar.html.twig" with {'avgRatings': ad.getAvgRatings} %}
						</div>
						<img src="{{ad.coverImage}}" class="card-img-top" alt="...">
						<div class="card-body text-center">
							<h5 class="card-title">{{ad.title}}</h5>
							<p class="card-text">{{ad.introduction}}</p>
							<a href="{{path('ad_show', {'slug': ad.slug})}}" class="btn btn-primary">Voir l'annonce</a>
						</div>
					</div>
				</div>	
			{% endfor %}
			
		</div>	


		<div class="row mt-5">
			<h2>Nos propriétaires stars</h2>
		</div>

		<div class="row mb-4">
			{% for ad in adsMostBooked %}
			<div class="col d-flex justify-content-center align-items-center">
				<div class="card m-3" style="width: 18rem;">
					<div class="card-header">
						{{ad.author.firstName}} {{ad.author.lastName}}
					</div>
					<div class="card-body text-center">
						<img src="{{ad.author.picture}}" class="float-left" alt="...">
						<p class="card-text text-right">{{ad.author.introduction}}</p>
						<a href="{{path('user_show', {'slug': ad.author.slug})}}" class="btn btn-primary">Voir ses annonces</a>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>


	</div>


{% endblock %}
