{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
	<div class="container mt-3">
		<div class="row">
			<div class="col-8">
				{{ ad.rooms }} chambres {{ ad.price }}€ par nuit<br/>
				
				<a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-secondary">Réserver</a>

				{% if app.user and app.user == ad.author %}
				
				<a href="{{ path('ad_edit', {'slug': ad.slug}) }}" class="btn btn-primary">Modifier l'annonce</a>
				<a href="{{ path('ad_delete', {'slug': ad.slug}) }}" class="btn btn-danger" onclick="return confirm('Confirmer la suppression')">Supprimer l'annonce</a>

				{% endif %}
				
				
				{% set arrayImages = ad.images|merge(ad.imageUploads) %}
				<p>{{ ad.content | striptags('<p><br><b>') | raw}}</p>
				<div id="carouselExampleCaptions" style="max-width: 200px;" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in arrayImages %}
							<li data-target="#carouselExampleCaptions" data-slide-to="{{loop.index0}}" class="{% if loop.first %}active{% endif %}"></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner" style="max-width: 200px;">
						{% for image in arrayImages %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{image.url}}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5> {% if image.caption is not defined ? '' : image.caption %}
											{% endif %}
									</h5>
									<p>Some representative placeholder content for the first slide.</p>
								</div>
							</div>
						{% endfor %}
					</div>


					<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<div class="row">
				<h3>Commentaires des voyageurs</h3>
					{% if ad.comments | lenght > 0 %}
						{% for comment in ad.comments %}
							<div class="alert alert-primary" role="alert">
 			 					<strong>{{comment.author.firstName}} {{comment.author.lastName}}</strong>
								<blockquote>{{comment.content}}</blockquote>

								<p>{{comment.createdAt | date}}</p>
							</div>
						{% endfor %}
					{% else %}
					<div class="alert alert-warning" role="alert">
					Il n'y a pas de commentaires
					</div>						
					{% endif %}
				</div>



			</div>
			<div class="col-4">
				<div class="row">
					<div class="col-3">
						<img style="width:64px; height:64px;" src="{{ad.author.picture}}" alt="">
					</div>
					<div class="col-9">
						<strong>{{ad.author.firstName}} {{ad.author.lastName}}</strong>
						<span class="badge badge-info d-block">{{ad.author.ads | length}} annonces</span>
						<a href="{{ path('user_show', {'slug': ad.author.slug})}}">Voir le profil</a>
					</div>
				</div>
				<div class="row">
					{{ad.author.introduction}}
				</div>
				<div class="row">
					<div class="col">
						{{ad.author.description | raw}}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
